@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.wowtv;
@using Wow.Tv.Middle.Model.Db49.wowtv.Kvina;

@{
    ViewBag.Title = "KvinaPaymentAPI";
}



@*@model KvinaNoticeList*@


<h2>@Model</h2>


<BR />DblTotalPurAmt= @ViewBag.DblTotalPurAmt
<BR />DblTotalCnlAmt= @ViewBag.DblTotalCnlAmt
<BR />DblTotalPurCnt= @ViewBag.DblTotalPurCnt
<BR />DblTotalCnlCnt= @ViewBag.DblTotalCnlCnt
<BR />intRecordCnt= @ViewBag.intRecordCnt
<BR />intRatval= @ViewBag.intRatval


