@using Wow
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.wowtv

@model ListModel<NTB_BOARD>

@{
    string wowTvScript = AppState["WowTvScript"].ToString();
}

@{
    Layout = null;
}

<script>
    var divSearchBoard_totalDataCount = "@Model.TotalDataCount";
</script>

<script src="@wowTvScript/OperateManage/MenuManage/SearchBoardList.js?date=20170727163009"></script>




<table class="table_colRow">
    <thead>
        <tr>
            <th>번호</th>
            <th>유형</th>
            <th>게시판 명</th>
            <th>파일첨부</th>
            <th>활성</th>
            <th>작성일(수정일)</th>
            <th>적용</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListData)
        {
        <tr>
            <td class="al_c">@item.BOARD_SEQ</td>
            <td class="al_c">@item.BoardTypeCodeName</td>
            <td class="al_c">@item.BOARD_NAME</td>
            <td class="al_c">@item.ATTACH_FILE_YN</td>
            <td class="al_c">@item.ACTIVE_YN</td>
            <td class="al_c">@item.REG_DATE.ToDateTime()<br /><span style="color: cadetblue">@item.MOD_DATE.ToDateTime()</span></td>
            <td class="al_c"><button type="button" class="btn btn-default" onclick="return MenuManageSearchBoardList.SelectBoard(@item.BOARD_SEQ, '@item.BOARD_NAME');">적용</button></td>
        </tr>
        }
    </tbody>
</table>



<div class="table-responsive mt-5" id="divSearchBoard_divPaging"></div>


