@using Wow.Tv.Middle.Model.Db49.wowtv

@model NTB_BOARD_CONTENT

@{
    string wowTvScript = AppState["WowTvScript"].ToString();
}

@section scripts{
    <script src="@wowTvScript/SE2/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script src="@wowTvScript/ProgramBoard/Notice/Add.js"></script>
}


<input type="hidden" name="ProgramCode" id="hidProgramCode" value="@Request["ProgramCode"]" />


<form id="frmSearch">
    <input type="hidden" id="VIEW_YN" name="VIEW_YN" value="@ViewBag.Condition.VIEW_YN" />
    <input type="hidden" id="SearchType" name="SearchType" value="@ViewBag.Condition.SearchType" />
    <input type="hidden" id="SearchText" name="SearchText" value="@ViewBag.Condition.SearchText" />
    <input type="hidden" id="pageSize" name="pageSize" value="@ViewBag.Condition.PageSize" />
    <input type="hidden" id="currentIndex" name="currentIndex" value="@ViewBag.Condition.CurrentIndex" />
    <input type="hidden" name="CurrentMenuSeq" id="CurrentMenuSeq" value="@ViewBag.Condition.CurrentMenuSeq" />
</form>



@using (Html.BeginForm("Save", "Notice", FormMethod.Post, new { id = "frmSave" }))
{
    <input type="hidden" id="seq" name="seq"/>
    <input type="hidden" id="pageSize" name="pageSize" value="20"/>
    <input type="hidden" id="currentIndex" name="currentIndex" value="@ViewBag.CurrentIndex"/>
    <input type="hidden" id="BOARD_SEQ" name="BOARD_SEQ" value="@ViewBag.Condition.BOARD_SEQ" />
    <input type="hidden" id="CurrentMenuSeq" name="CurrentMenuSeq" value="@(Request.QueryString["menuSeq"].Length == 0 ? ViewBag.Condition.CurrentMenuSeq : Request.QueryString["menuSeq"])"/>
    <div class="wrap">

        <input type="hidden" name="COMMON_CODE" value="016001002" />

        <!-- BBS Write -->
        <div class="bbs-write1">
            <table class="table">
                <colgroup>
                    <col width="200px">
                    <col>
                </colgroup>
                @*<tr>
                    <th><span class="nec">*</span>분류</th>
                    <td>
                        <div class="form-inline">
                            <select class="form-control" id="COMMON_CODE" name="COMMON_CODE">
                                @foreach (var code in ViewBag.CommonCodes)
                                {
                                    <option value="@code.COMMON_CODE" )>@code.CODE_NAME</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>*@
                <tr>
                    <th><span class="nec">*</span>제목</th>
                    <td>
                        <input type="text" class="form-control" name="TITLE" id="TITLE" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 0; height: 400px;">
                        <!-- 에디터 영역 -->
                        <textarea id="hidContent" style="display:none;" name="CONTENT"></textarea>

                    </td>
                </tr>

                <tr>
                    <th>상단고정</th>
                    <td>
                        <label class="radio-inline"><input type="radio" name="NOTICE_YN" value="Y">Y</label>
                        <label class="radio-inline"><input type="radio" name="NOTICE_YN" value="N" checked="checked">N</label>
                    </td>
                </tr>

                <tr>
                    <th>게시여부</th>
                    <td>

                        <label class="radio-inline"><input type="radio" name="VIEW_YN" value="Y" checked="checked">Y</label>
                        <label class="radio-inline"><input type="radio" name="VIEW_YN" value="N">N</label>
                        @*<label class="radio-inline"><input type="radio" id="VIEW_YN" name="VIEW_YN" checked="@Model.VIEW_YN.Equals("Y")"> Y</label>
                            <label class="radio-inline"><input type="radio" id="VIEW_YN" name="VIEW_YN" checked="@Model.VIEW_YN.Equals("N")"> N</label>*@
                    </td>
                </tr>
            </table>
        </div>
        <!-- //BBS Write -->
        <!-- Bottom Buttons -->
        <div class="box-button">

                <button class="btn btn-success" id="btnSave">글쓰기</button>
                @*<button class="btn btn-success" type="button" id="btnSave">등록(수정)</button>*@

            <button class="btn btn-default" id="btnList">취소하기</button>

        </div>
        <!-- //Bottom Buttons -->

    </div>
    <!-- //공지사항 등록/수정/상세 -->
}