@using Wow.Tv.Middle.Model.Db49.wowtv
@using Wow.Tv.Middle.Model.Db49.Article

@model NTB_ARTICLE_SHOW_CONFIG

@{
    List<NTB_COMMON_CODE> compList = ViewBag.compCode;
    List<NTB_COMMON_CODE> sectionWowCode = ViewBag.sectionWowCode;

    string wowTvScript = AppState["WowTvScript"].ToString();
}

@section scripts{
    <script src="@wowTvScript/NewsCenter/NewsCommon.js"></script>
    <script src="@wowTvScript/NewsCenter/NewsContentManage/NewsLandEntspo.js"></script>
}
@section modalDiv{
    <!-- #region DIV divModalView -->
    <div id="divModalView" class="modal fade" role="dialog" />
    <!-- #endregion -->
}
<input type="hidden" name="currentMenuSeq" id="hidCurrentMenuSeq" value="@Request["menuSeq"]" />
<div class="row">
    <div class="col-md-12 clearfix">
        <div class="wrap">
            <!-- Global Search -->
            <form id="frmSearch" name="frmSearch" method="post" onsubmit="return false;">
                <div class="contain-search-global">
                    <table>
                        <colgroup>
                            <col width="120px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>섹션 선택</th>
                            <td>
                                <div class="form-inline">
                                    <select class="form-control" name="SearchSection">
                                        <option value="">전체</option>
                                        @if (sectionWowCode != null)
                                        {
                                            foreach (NTB_COMMON_CODE item in sectionWowCode)
                                            {
                                                <option value="@item.CODE_VALUE1">@item.CODE_NAME</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th rowspan="2">검색</th>
                            <td>
                                <div class="form-group form-inline">
                                    <button class="btn btn-default" id="OneWeekTerm">1주일</button>
                                    <button class="btn btn-default" id="TwoWeekTerm">2주일</button>
                                    <button class="btn btn-default" id="OneMonthTerm">1개월</button>
                                    <div class="input-group date">
                                        <input type="text" class="form-control" id="SearchStartDate" name="StartDate" maxlength="10">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                    </div> ~
                                    <div class="input-group date">
                                        <input type="text" class="form-control" id="SearchEndDate" name="EndDate" maxlength="10">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group" style="width:600px">
                                        <input class="form-control" type="text" id="SearchText" name="SearchText" maxlength="100">
                                        <span class="input-group-btn"><button type="button" class="btn btn-default" id="btnSearch">검색</button></span>

                                        <input type="hidden" name="Page" id="Page" value="1" />
                                        <input type="hidden" name="PageSize" id="PageSize" value="30" />
                                        <input type="hidden" name="totalDataCount" id="totalDataCount" value="0" />
                                        <input type="hidden" name="currentIndex" id="currentIndex" value="1" />
                                        <input type="hidden" name="newsManualCount" id="newsManualCount" value="0" />
                                        <input type="hidden" name="SearchGubun" id="SearchGubun" value="@ViewBag.gubunCode" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- //Global Search -->
                <!-- Table Top -->
                <div class="box-top-table">
                    <div class="inner-left">
                        <div class="box-notice form-inline">
                            <label>노출순서 설정</label>
                            &nbsp;&nbsp;
                            <select class="form-control " name="AUTO_MANUAL">
                                <option value="AUTO" @(Model != null && Model.AUTO_MANUAL.Equals("AUTO") ? "selected" : "")>자동</option>
                                <option value="MANUAL" @(Model != null && Model.AUTO_MANUAL.Equals("MANUAL") ? "selected" : "")>수동</option>
                            </select>
                            <button type="button" class="btn btn-success" id="btnSave">저장</button>
                        </div>
                    </div>
                    <div class="inner-right">
                        <button class="btn btn-success" onclick="NewsLandEntspoList.ConfigSave();">노출순서 적용</button>
                    </div>
                </div>
                <!-- 출처 -->
                <div class="box-top-table">
                    <div class="inner-left">
                        <p class="text-color1">@(ViewBag.gubunCode.Equals("LAND") ? "노출순서: (1)지도 매핑 기사(부동산 메인), (2)부동산 뉴스, (3)지자체 뉴스(N), (4)부동산 클로즈업, (5)부동산 투자의 맥, (6)부동산 컨설팅" : "")</p>
                    </div>
                    <div class="inner-right">
                        <p>
                            출처:
                            @foreach (var item in compList)
                            {
                                @String.Format("({0}){1} ", item.CODE_VALUE1.Substring(0, 1).ToLower(), item.CODE_NAME)
                            }
                        </p>
                    </div>
                </div>
                <!-- //출처 -->
            </form>
            <!-- //Table Top -->
            <div class="bbs-list1">
                <table class="table">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th><span style="cursor:pointer" onclick="$('#tbodyNewsConfigList').toggle();">노출순서</span></th>
                            <th>제목</th>
                            <th>출처</th>
                            <th>작성일(수정일)</th>
                            <th>BOLD</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyNewsConfigList"></tbody>
                    <tbody id="tbodyNewsList"></tbody>
                </table>
            </div>

            <!-- Pagenate -->
            <div class="box-paginate" id="divPaging"></div>
            <!-- //Pagenate -->
            <!-- Bottom Buttons -->
            <div class="box-button">
                <div class="inner-right">
                    <button class="btn btn-success" onclick="NewsLandEntspoList.ConfigSave();">노출순서 적용</button>
                </div>
            </div>
            <!-- //Bottom Buttons -->
        </div>
    </div>
</div>
